html,
body {
    /* background: #ECDFCC; */
    background: #afa597;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    /* Memastikan lebar 100% */
    overflow-x: hidden;
    /* Mencegah scroll horizontal */
}

#navbar {
    font-size: 1.5rem;
    font-weight: 100;
    /* background-color: #e1d5c4; */
    background-color: #292722;
}

#navbar .nav-link {
    color: #928a7e;
}

#navbar .nav-link:hover {
    color: #423d37;
}

#navbar .navbar-brand {
    /* color: #423d37; */
    color: #b2aca3;
    font-size: 2rem;
    margin-left: 15px;
}

#navbar .search-input {
    /* background-color: #f0dede; */
    background-color: #9a958d;
    color: #333;
    /* Warna teks */
}

#navbar .search-input::placeholder {
    color: #2b2b2b;
}

#navbar .btn {
    /* background-color: #736d65; */
    margin-right: 10px;
    background-color: #393733;
    color: #b2aca3;
}

.navbar-toggler {
    background-color: #9a958d;
}

.navbar.scrolled {
    background-color: #534e48;
    transition: background 500ms;
}

#home {
    padding-top: 70px;
    padding-bottom: 70px;
}

#about {
    padding-top: 70px;
    padding-bottom: 70px;
}

#about2 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.search-bar {
    right: 15px;
}

#title-head {
    color: #5b564e;
    font-weight: 100;
    font-size: 4rem;
}

#rate {
    color: #5b564e;
}

.bg-rate {
    background-color: #292722;
    color: #928a7e;
    font-weight: 100;
    font-size: 1.2rem;
}

#home .col-sm-6 {
    padding-left: 0;
    /* Menghilangkan padding kiri pada kolom */
    padding-right: 0;
}

#ticket .col-sm-6 {
    padding-left: 0;
    /* Menghilangkan padding kiri pada kolom */
    padding-right: 0;
}

.sub {
    background-color: #292722;
}

.blurb h2 {
    color: #2f2b26;
    font-weight: 100;
    font-size: 2.3rem;
}

.blurb h1 {
    color: #2f2b26;
    font-weight: 100;
    font-size: 2.8rem;
}

.blurb h5 {
    color: #2f2b26;
    font-weight: 100;
    font-size: 2.3rem;
}

.blurb p {
    color: #38342e;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 2;
}

.card {
    background-color: #292722;
}

.card-title {
    color: #928a7e;
    font-weight: 100;
    font-size: 1.2rem;
}

.card-text {
    color: #928a7e;
    font-weight: 100;
    font-size: 1.2rem;
}

.btn {
    background-color: #393733;
    color: #b2aca3;
}

.btn:hover {
    color: #393733;
    background-color: #afa597;
}

.form {
    background-color: #9a958d;
    color: #333;
}

.form::placeholder {
    color: #2b2b2b;
}

#copyright {
    background-color: #292722;
}

.text-b {
    color: #928a7e;
}

@media (max-width: 1080px) {
    #title-head h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }
}

@media (max-width: 575.98px) {
    .navbar {
        padding-top: 10px;
    }

    .navbar-brand {
        padding-right: 40px;
    }

    /* navbar tetap terlihat saat scroll */
    .navbar.scrolled {
        max-height: none !important;
    }

    /* Membuat search form full width di mobile */
    .navbar-collapse form[role="search"] {
        width: 98%;
    }
}

@media (min-width: 576px) {
    .search-input {
        width: 360px;
    }
}